
@{
    ViewBag.Title = "AddReference";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}
<h2>Yeni Referans Ekleme Sayfası</h2>

<form method="post">
    <label>Referans Adı Soyadı: </label>
    <input type="text" class="form-control" name="NameSurname" />
    <br />
    <label>Email: </label>
    <input type="text" class="form-control" name="Email" />
    <br />
    <label>Mesleği: </label>
    <input type="text" class="form-control" name="JOB" />
    <br />
    <label>Telefonu: </label>
    <input type="text" class="form-control" name="PhoneNumber" />
    <br />
    <button class="btn btn-info">Referansı Kaydet</button>
</form>

