
@{
    Layout = null;
}

﻿<section class="w3l-grid-quote text-center py-5">
    <div class="container py-3">
        <h6 class="title-small">İletişime Geç</h6>
        <h3 class="title-big mb-md-5 mb-4">Proje Başlat</h3>
        <a href="/UserInterAbout/Index/" class="btn btn-style btn-primary mr-2">İşe Giriş</a>
        <a href="contact.html" class="btn btn-style btn-outline-primary">İletişim</a>
    </div>
</section>