﻿@model List<Casgem_Portfolio.Models.Entities.tbl_resume>

@{
    Layout = null;
}

@foreach (var item in Model)
{


    <div class="py-5 w3l-resume">
        <div class="container py-lg-5 py-3">
            <h5 class="title-small mb-2"> @item.Title1</h5>
            <h3 class="title-big mb-4">@item.Title2 </h3>
            <p>
                @item.Description
            </p>
            <div class="mt-5">
                <a href="~/Templates/alexander-starter/assets/TunahanÖZKAN-TR.pdf" class="btn btn-style btn-primary">Özgeçmişimi İndir</a>
            </div>
        </div>
    </div>
}