
@{
    Layout = null;
}

﻿
<div class="py-5 w3l-resume">
    <div class="container py-lg-5 py-3">

        <h5 class="title-small mb-2"> Merhaba</h5>

        <h3 class="title-big mb-4"> Asp.Net Core Eğitim </h3>
        <p>
            ASP.NET Core MVC kullanarak web API'leri ve web kullanıcı arabirimi oluşturma. ASP.NET Core MVC, web API'leri ve web uygulamaları oluşturmaya yönelik özellikler sağlar: Model-View-Controller (MVC) düzeni, web API'lerinizi ve web uygulamalarınızı test edilebilir hale getirmenize yardımcı olur.
        </p>
        <div class="row features-w3pvt-main mt-5 pt-md-3" id="features">
            <div class="col-lg-4 col-md-6 feature-gird">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-laptop" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Responsive Design </a></h4>
                        <p>Bir web sitesini, kendi yerleşimini görüntülenmekte olduğu cihazın özelliklerine göre ayarlayabilecek şekilde tasarlamaya responsive tasarım denir</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-gird mt-md-0 mt-4">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Powerful Editor </a></h4>
                        <p>Editörler, yayınlanmadan önce yazılı materyallerin düzenlenmesi ve düzenlenmesinde uzmanlaşmış kişilerdir.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-gird mt-lg-0 mt-md-5 mt-4">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-desktop" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Creative Design </a></h4>
                        <p>Müşteri ve proje gereksinimlerini incelemek, · Ürün veya hizmetlerin teknik özelliklerini araştırmak</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>