
@{
    Layout = null;
}

﻿



<div class="abouthy-img-grids">
    <div class="img-one">
        <img src="~/Templates/alexander-starter/assets/images/g5.jpg" alt=" " class="img-fluid">
    </div>
    <div class="img-one content-mid">
        <h3 class="title-big">
            Güncel kalın, Ücretsiz Bültene abone olun!
        </h3>
        <form action="#url" method="GET" class="subscribe-form">
            <input type="email" name="email" placeholder="Email ile giriş yapın" required>
            <button type="submit" class="btn">Abone Ol</button>
        </form>

    </div>
    <div class="img-one">
        <img src="~/Templates/alexander-starter/assets/images/g3.jpg" alt=" " class="img-fluid">
    </div>
</div>
